* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    font-size: clamp(0.5rem, 35px, 3rem);
}

h2 {
    margin: 30px 0;
}

h3 {
    font-size: 32px;
    margin-left: 8px;
}

div:first-child {
    width: 100%;
}

nav {
    background-color: #a306b6;
    color: white;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

ul li {
    margin: 8px;
    font-size: 18px;
}

header {
    background-image: url(assets/382-1920x600.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    color: white;
    width: 100%;
}

section {
    max-width: 65ch;
    margin-top: 50px 0 50px 0;
    margin-bottom: 50px;
}

section div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

article {
    margin: 10px;
    min-height: 75px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

article h1 {
    font-size: 20px;
}

footer {
    background-color: #a306b6;
    color: white;
    height: 60px;
    width: 100%;
    padding: 20px;

}

@media screen and (min-width:768px) and (max-width: 1200px) {
    nav {
        display: flex;
    }

    ul {
        margin: 0 25px;
    }

    section div {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    article {
        color: #a306b6;
    }

    article:first-child {
        grid-row: 1 /span 2;
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width:767px) {

    nav {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        margin: 15px;
    }

    nav ul li {
        font-size: 14px;
        margin: 0;
    }

    h3 {
        font-size: 18px;
        line-height: 5rem;
    }

    section {
        margin: 50px 10px;
    }

    article {
        color: #a306b6;
    }

    article:first-child {
        grid-column: 1 / span 2;
    }
}

@media screen {
    header h1 {
        filter: drop-shadow(5px 5px 15px black);
    }
}